.hat {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 5px 49% 0;
    font-size: 22px;
    position: fixed;
    top: 0;
    left: -1%;
    cursor: pointer;
}

body {
    background-color: #1A1919;
}

div.input-group {
    margin: 1% 40%;
}

div.void {
    margin: 20% 0;
}

input {
    width: 30em;
    padding: 0.5em;
}

button {
    padding: 0.4em 1.2em;
}

button.b1 {
    position: relative;
    left: 40%;
    width: 13.04em;
    right: 0;
    background-color: #5EADD9;
    border: 1px solid #5EADD9;
    color: white;
}

button.b2 {
    position: relative;
    width: 13.04em;
    right: -43.5%;
    background-color: #43B45B;
    border: 1px solid #43B45B;
    color: white;
}

button:disabled,
button[disabled]{
    background-color: #AAA;
    border: 1px solid #AAA;
}

.warn {
    position: relative;
    width: 13.04em;
    right: -47.5%;
    color: red;
    font-family: "Raleway", regular;
}
